// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.menuHeader{
    height:50% !important;
}
.menuHeader{
    background-color: #9C27B0;
    color: #FFFFFF;
}
.subtext{
    color: #E1BEE7;
}
.menuHeaderTop{
    background-color: #7B1FA2;
}
.round{
    border-radius: 50%;
}
.user-avatar{
    width: 100%;
    height: auto;
}