.navbarre{
    width: 90%;
    height: 50px;
    background-color: #9C27B0;
    border-radius: 30px;
    opacity: .74;
    z-index: 1000001;
    position: fixed;
    top: 4%;
    left: 5%;
    z-index: 10;
  }
.ion-content{
  height: 100% !important;
  overflow: hidden;
}
.segment{
  min-height: 50px;

}
.contener{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}
.home-options{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba($color: #000000, $alpha: .3)

} 
.listeAdresse{
    
}
